/* Adapted from https://github.com/bterlson/ecmarkup/blob/c0b5352/css/elements.css */

:root {
  --var: #2aa198;
  --var-referenced: #a0a029;
  --opt: #b58900;
  --table-header: #eee;

  --diff-add: #e0f8e0;
  --diff-add-border: #396;
  --diff-del: #fee;

  --clause-warning-fg: #ff6600;
  --clause-warning-bg: #ffeedd;
}
@media (prefers-color-scheme: dark) {
  :root {
    --diff-add: #024402;
    --diff-add-border: #4a7;
    --diff-del: #440d0d;

    --var: #45bcb2;
    --var-referenced: #bcbc45;
    --opt: #ffd149;
    --table-header: #333;

    --clause-warning-bg: #331a00;
  }
}

code {
  font-weight: bold;
  white-space: pre-wrap;
}

pre code {
  font-weight: inherit;
}

pre code.hljs {
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

emu-const {
  font-family: var(--sans);
}

emu-val {
  font-weight: bold;
}
emu-alg ol,
emu-alg ol ol ol ol {
  list-style-type: decimal;
}

emu-alg ol ol,
emu-alg ol ol ol ol ol {
  list-style-type: lower-alpha;
}

emu-alg ol ol ol,
ol ol ol ol ol ol {
  list-style-type: lower-roman;
}

emu-eqn {
  display: block;
  margin-left: 4em;
}

emu-eqn.inline {
  display: inline;
  margin: 0;
}

emu-eqn div:first-child {
  margin-left: -2em;
}

emu-note {
  margin: 1em 0;
  color: var(--secondary-text);
  border-left: 5px solid var(--border);
  display: flex;
  flex-direction: row;
}

emu-note > span.note {
  flex-basis: 100px;
  min-width: 100px;
  flex-grow: 0;
  flex-shrink: 1;
  text-transform: uppercase;
  padding-left: 5px;
}

emu-note[type='editor'] {
  border-left-color: #faa;
}

emu-note > div.note-contents {
  flex-grow: 1;
  flex-shrink: 1;
}

emu-note > div.note-contents > p:first-of-type {
  margin-top: 0;
}

emu-note > div.note-contents > p:last-of-type {
  margin-bottom: 0;
}

emu-figure {
  display: block;
}

emu-example {
  display: block;
  margin: 1em 3em;
}

emu-example figure figcaption {
  margin-top: 0.5em;
  text-align: left;
}

emu-figure figure,
emu-example figure,
emu-table figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

emu-production {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 5ex;
}

emu-grammar.inline,
emu-production.inline,
emu-grammar.inline emu-production emu-rhs,
emu-production.inline emu-rhs,
emu-grammar[collapsed] emu-production emu-rhs,
emu-production[collapsed] emu-rhs {
  display: inline;
  padding-left: 1ex;
  margin-left: 0;
}

emu-grammar[collapsed] emu-production,
emu-production[collapsed] {
  margin: 0;
}

emu-constraints {
  font-size: 0.75em;
  margin-right: 1ex;
}

emu-gann {
  margin-right: 1ex;
}

emu-gann emu-t:last-child,
emu-gann emu-gprose:last-child,
emu-gann emu-nt:last-child {
  margin-right: 0;
}

emu-geq {
  margin-left: 1ex;
  font-weight: bold;
}

emu-oneof {
  font-weight: bold;
  margin-left: 1ex;
}

emu-nt {
  display: inline-block;
  font-style: italic;
  white-space: nowrap;
  text-indent: 0;
}

emu-xref a emu-nt,
emu-nt a,
emu-nt a:visited {
  color: var(--text);
}

emu-rhs emu-nt {
  margin-right: 1ex;
}

emu-t {
  display: inline-block;
  font-family: var(--mono);
  font-feature-settings:
    'calt' off,
    'onum',
    'zero';
  font-weight: bold;
  white-space: nowrap;
  text-indent: 0;
}

emu-production emu-t {
  margin-right: 1ex;
}

emu-rhs {
  display: block;
  padding-left: 75px;
  text-indent: -25px;
}

emu-mods {
  font-size: 0.85em;
  vertical-align: sub;
  font-style: normal;
  font-weight: normal;
}

emu-production[collapsed] emu-mods {
  display: none;
}

emu-params,
emu-constraints,
emu-opt {
  margin-right: 1ex;
  font-family: var(--mono);
}

emu-params,
emu-constraints {
  color: var(--var);
}

emu-opt {
  color: var(--opt);
}

emu-gprose {
  font-family: var(--sans);
}

emu-production emu-gprose {
  margin-right: 1ex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

h1 span.title {
  order: 2;
}

h1 {
  font-size: 2.67em;
  margin-top: 2em;
  margin-bottom: 0;
  line-height: 1em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.56em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1.11em;
}
h6 {
  font-size: 1em;
}

h1:hover span.utils {
  display: block;
}

emu-intro h1,
emu-clause h1,
emu-annex h1 {
  font-size: 2em;
}
emu-intro h2,
emu-clause h2,
emu-annex h2 {
  font-size: 1.56em;
}
emu-intro h3,
emu-clause h3,
emu-annex h3 {
  font-size: 1.25em;
}
emu-intro h4,
emu-clause h4,
emu-annex h4 {
  font-size: 1.11em;
}
emu-intro h5,
emu-clause h5,
emu-annex h5 {
  font-size: 1em;
}
emu-intro h6,
emu-clause h6,
emu-annex h6 {
  font-size: 0.9em;
}
emu-intro emu-intro h1,
emu-clause emu-clause h1,
emu-annex emu-annex h1 {
  font-size: 1.56em;
}
emu-intro emu-intro h2,
emu-clause emu-clause h2,
emu-annex emu-annex h2 {
  font-size: 1.25em;
}
emu-intro emu-intro h3,
emu-clause emu-clause h3,
emu-annex emu-annex h3 {
  font-size: 1.11em;
}
emu-intro emu-intro h4,
emu-clause emu-clause h4,
emu-annex emu-annex h4 {
  font-size: 1em;
}
emu-intro emu-intro h5,
emu-clause emu-clause h5,
emu-annex emu-annex h5 {
  font-size: 0.9em;
}
emu-intro emu-intro emu-intro h1,
emu-clause emu-clause emu-clause h1,
emu-annex emu-annex emu-annex h1 {
  font-size: 1.25em;
}
emu-intro emu-intro emu-intro h2,
emu-clause emu-clause emu-clause h2,
emu-annex emu-annex emu-annex h2 {
  font-size: 1.11em;
}
emu-intro emu-intro emu-intro h3,
emu-clause emu-clause emu-clause h3,
emu-annex emu-annex emu-annex h3 {
  font-size: 1em;
}
emu-intro emu-intro emu-intro h4,
emu-clause emu-clause emu-clause h4,
emu-annex emu-annex emu-annex h4 {
  font-size: 0.9em;
}
emu-intro emu-intro emu-intro emu-intro h1,
emu-clause emu-clause emu-clause emu-clause h1,
emu-annex emu-annex emu-annex emu-annex h1 {
  font-size: 1.11em;
}
emu-intro emu-intro emu-intro emu-intro h2,
emu-clause emu-clause emu-clause emu-clause h2,
emu-annex emu-annex emu-annex emu-annex h2 {
  font-size: 1em;
}
emu-intro emu-intro emu-intro emu-intro h3,
emu-clause emu-clause emu-clause emu-clause h3,
emu-annex emu-annex emu-annex emu-annex h3 {
  font-size: 0.9em;
}
emu-intro emu-intro emu-intro emu-intro emu-intro h1,
emu-clause emu-clause emu-clause emu-clause emu-clause h1,
emu-annex emu-annex emu-annex emu-annex emu-annex h1 {
  font-size: 1em;
}
emu-intro emu-intro emu-intro emu-intro emu-intro h2,
emu-clause emu-clause emu-clause emu-clause emu-clause h2,
emu-annex emu-annex emu-annex emu-annex emu-annex h2 {
  font-size: 0.9em;
}
emu-intro emu-intro emu-intro emu-intro emu-intro emu-intro h1,
emu-clause emu-clause emu-clause emu-clause emu-clause emu-clause h1,
emu-annex emu-annex emu-annex emu-annex emu-annex emu-annex h1 {
  font-size: 0.9em;
}

emu-clause,
emu-intro,
emu-annex {
  display: block;
}

/* Figures and tables */
figure {
  display: block;
  margin: 1em 0 3em 0;
}
figure object {
  display: block;
  margin: 0 auto;
}
figure table.real-table {
  margin: 0 auto;
}
figure figcaption {
  display: block;
  color: var(--secondary-text);
  text-align: center;
  margin-bottom: 0.5em;
  font-family: var(--sans);
}

emu-table table {
  margin: 0 auto;
}

emu-table table,
table.real-table {
  border-collapse: collapse;
}

emu-table td,
emu-table th,
table.real-table td,
table.real-table th {
  border: 1px solid var(--text);
  padding: 0.4em;
  vertical-align: baseline;
}
emu-table th,
emu-table thead td,
table.real-table th {
  background-color: var(--table-header);
}

/* Note: the left content edges of table.lightweight-table >tbody >tr >td
   and div.display line up. */
table.lightweight-table {
  border-collapse: collapse;
  margin: 0 0 0 1.5em;
}
table.lightweight-table td,
table.lightweight-table th {
  border: none;
  padding: 0 0.5em;
  vertical-align: baseline;
}

/* diff styles */
ins {
  background-color: var(--diff-add);
  text-decoration: none;
  border-bottom: 1px solid var(--diff-add-border);
}

del {
  background-color: var(--diff-del);
}

ins.block,
del.block,
emu-production > ins,
emu-production > del,
emu-grammar > ins,
emu-grammar > del {
  display: block;
}
emu-rhs > ins,
emu-rhs > del {
  display: inline;
}

tr.ins > td > ins {
  border-bottom: none;
}

tr.ins > td {
  background-color: var(--diff-add);
}

tr.del > td {
  background-color: var(--diff-del);
}

[normative-optional],
[legacy] {
  border-left: 5px solid var(--clause-warning-fg);
  padding: 0.5em;
  display: block;
  background: var(--clause-warning-bg);
}

.clause-attributes-tag {
  text-transform: uppercase;
  color: var(--clause-warning-fg);
}

.clause-attributes-tag a {
  color: var(--clause-warning-fg);
}
