.prev-next {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  font-family: var(--sans);
}

.prev-next-arrow {
  font-family: var(--mono);
  display: inline-block;
  white-space: nowrap;
  padding: 0 0.5em;
}
