.tools {
  font-family: var(--sans);
  user-select: none;
  display: flex;
  margin-top: 0.5em;
  margin-bottom: -0.5em;
}

.tools label {
  display: flex;
  flex-direction: column;
}

.tools label:not(:first-child) {
  margin-left: 1em;
}
