/* Adapted from https://github.com/bterlson/ecmarkup/blob/7f4f75b1/css/elements.css */
code {
  font-weight: bold;
  white-space: pre;
}

pre code {
  font-weight: inherit;
}

pre code.hljs {
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

var {
  color: #2aa198;
  cursor: pointer;
  padding-bottom: 1px;
  text-decoration-line: underline;
  text-decoration-thickness: 0.1em;
}
var:not(.referenced) {
  text-decoration-color: transparent;
}
var.referenced {
  color: #a0a029;
}
@media (prefers-color-scheme: dark) {
  var {
    color: #45bcb2;
  }
  var.referenced {
    color: #bcbc45;
  }
}

emu-const {
  font-family: var(--sans);
}

emu-val {
  font-weight: bold;
}
emu-alg ol,
emu-alg ol ol ol ol {
  list-style-type: decimal;
}

emu-alg ol ol,
emu-alg ol ol ol ol ol {
  list-style-type: lower-alpha;
}

emu-alg ol ol ol,
ol ol ol ol ol ol {
  list-style-type: lower-roman;
}

emu-eqn {
  display: block;
  margin-left: 4em;
}

emu-eqn.inline {
  display: inline;
  margin: 0;
}

emu-eqn div:first-child {
  margin-left: -2em;
}

emu-note {
  margin: 1em 0;
  color: #666;
  border-left: 5px solid #ccc;
  display: flex;
  flex-direction: row;
}
@media (prefers-color-scheme: dark) {
  emu-note {
    color: #aaa;
    border-left-color: #333;
  }
}

emu-note > span.note {
  flex-basis: 100px;
  min-width: 100px;
  flex-grow: 0;
  flex-shrink: 1;
  text-transform: uppercase;
  padding-left: 5px;
}

emu-note[type='editor'] {
  border-left-color: #faa;
}

emu-note > div.note-contents {
  flex-grow: 1;
  flex-shrink: 1;
}

emu-note > div.note-contents > p:first-of-type {
  margin-top: 0;
}

emu-note > div.note-contents > p:last-of-type {
  margin-bottom: 0;
}

emu-figure {
  display: block;
}

emu-example {
  display: block;
  margin: 1em 3em;
}

emu-example figure figcaption {
  margin-top: 0.5em;
  text-align: left;
}

emu-figure figure,
emu-example figure,
emu-table figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

emu-production {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 5ex;
}

emu-grammar.inline,
emu-production.inline,
emu-grammar.inline emu-production emu-rhs,
emu-production.inline emu-rhs,
emu-grammar[collapsed] emu-production emu-rhs,
emu-production[collapsed] emu-rhs {
  display: inline;
  padding-left: 1ex;
  margin-left: 0;
}

emu-grammar[collapsed] emu-production,
emu-production[collapsed] {
  margin: 0;
}

emu-constraints {
  font-size: 0.75em;
  margin-right: 1ex;
}

emu-gann {
  margin-right: 1ex;
}

emu-gann emu-t:last-child,
emu-gann emu-gprose:last-child,
emu-gann emu-nt:last-child {
  margin-right: 0;
}

emu-geq {
  margin-left: 1ex;
  font-weight: bold;
}

emu-oneof {
  font-weight: bold;
  margin-left: 1ex;
}

emu-nt {
  display: inline-block;
  font-style: italic;
  white-space: nowrap;
  text-indent: 0;
}

emu-nt a,
emu-nt a:visited {
  color: #333;
}
@media (prefers-color-scheme: dark) {
  emu-nt a,
  emu-nt a:visited {
    color: #bbb;
  }
}

emu-rhs emu-nt {
  margin-right: 1ex;
}

emu-t {
  display: inline-block;
  font-family: var(--mono);
  font-feature-settings: 'calt' off, 'onum', 'zero';
  font-weight: bold;
  white-space: nowrap;
  text-indent: 0;
}

emu-production emu-t {
  margin-right: 1ex;
}

emu-rhs {
  display: block;
  padding-left: 75px;
  text-indent: -25px;
}

emu-mods {
  font-size: 0.85em;
  vertical-align: sub;
  font-style: normal;
  font-weight: normal;
}

emu-production[collapsed] emu-mods {
  display: none;
}

emu-params,
emu-constraints,
emu-opt {
  margin-right: 1ex;
  font-family: var(--mono);
}

emu-params,
emu-constraints {
  color: #2aa198;
}

emu-opt {
  color: #b58900;
}

@media (prefers-color-scheme: dark) {
  emu-params,
  emu-constraints {
    color: #45bcb2;
  }

  emu-opt {
    color: #ffd149;
  }
}

emu-gprose {
  font-family: var(--sans);
}

emu-production emu-gprose {
  margin-right: 1ex;
}

h1.shortname {
  color: #f60;
  font-size: 1.5em;
  margin: 0;
}

h1.version {
  color: #f60;
  font-size: 1.5em;
  margin: 0;
}

h1.title {
  margin-top: 0;
  color: #f60;
}

h1.first {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}

h1 span.title {
  order: 2;
}

h1 {
  font-size: 2.67em;
  margin-top: 2em;
  margin-bottom: 0;
  line-height: 1em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.56em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1.11em;
}
h6 {
  font-size: 1em;
}

h1:hover span.utils {
  display: block;
}

span.utils {
  font-size: 18px;
  line-height: 18px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  font-weight: normal;
}

span.utils:before {
  content: '⤷';
  display: inline-block;
  padding: 0 5px;
}

span.utils > * {
  display: inline-block;
  margin-right: 20px;
}

h1 span.utils span.anchor a,
h2 span.utils span.anchor a,
h3 span.utils span.anchor a,
h4 span.utils span.anchor a,
h5 span.utils span.anchor a,
h6 span.utils span.anchor a {
  text-decoration: none;
  font-variant: small-caps;
}

h1 span.utils span.anchor a:hover,
h2 span.utils span.anchor a:hover,
h3 span.utils span.anchor a:hover,
h4 span.utils span.anchor a:hover,
h5 span.utils span.anchor a:hover,
h6 span.utils span.anchor a:hover {
  color: #333;
}

emu-intro h1,
emu-clause h1,
emu-annex h1 {
  font-size: 2em;
}
emu-intro h2,
emu-clause h2,
emu-annex h2 {
  font-size: 1.56em;
}
emu-intro h3,
emu-clause h3,
emu-annex h3 {
  font-size: 1.25em;
}
emu-intro h4,
emu-clause h4,
emu-annex h4 {
  font-size: 1.11em;
}
emu-intro h5,
emu-clause h5,
emu-annex h5 {
  font-size: 1em;
}
emu-intro h6,
emu-clause h6,
emu-annex h6 {
  font-size: 0.9em;
}
emu-intro emu-intro h1,
emu-clause emu-clause h1,
emu-annex emu-annex h1 {
  font-size: 1.56em;
}
emu-intro emu-intro h2,
emu-clause emu-clause h2,
emu-annex emu-annex h2 {
  font-size: 1.25em;
}
emu-intro emu-intro h3,
emu-clause emu-clause h3,
emu-annex emu-annex h3 {
  font-size: 1.11em;
}
emu-intro emu-intro h4,
emu-clause emu-clause h4,
emu-annex emu-annex h4 {
  font-size: 1em;
}
emu-intro emu-intro h5,
emu-clause emu-clause h5,
emu-annex emu-annex h5 {
  font-size: 0.9em;
}
emu-intro emu-intro emu-intro h1,
emu-clause emu-clause emu-clause h1,
emu-annex emu-annex emu-annex h1 {
  font-size: 1.25em;
}
emu-intro emu-intro emu-intro h2,
emu-clause emu-clause emu-clause h2,
emu-annex emu-annex emu-annex h2 {
  font-size: 1.11em;
}
emu-intro emu-intro emu-intro h3,
emu-clause emu-clause emu-clause h3,
emu-annex emu-annex emu-annex h3 {
  font-size: 1em;
}
emu-intro emu-intro emu-intro h4,
emu-clause emu-clause emu-clause h4,
emu-annex emu-annex emu-annex h4 {
  font-size: 0.9em;
}
emu-intro emu-intro emu-intro emu-intro h1,
emu-clause emu-clause emu-clause emu-clause h1,
emu-annex emu-annex emu-annex emu-annex h1 {
  font-size: 1.11em;
}
emu-intro emu-intro emu-intro emu-intro h2,
emu-clause emu-clause emu-clause emu-clause h2,
emu-annex emu-annex emu-annex emu-annex h2 {
  font-size: 1em;
}
emu-intro emu-intro emu-intro emu-intro h3,
emu-clause emu-clause emu-clause emu-clause h3,
emu-annex emu-annex emu-annex emu-annex h3 {
  font-size: 0.9em;
}
emu-intro emu-intro emu-intro emu-intro emu-intro h1,
emu-clause emu-clause emu-clause emu-clause emu-clause h1,
emu-annex emu-annex emu-annex emu-annex emu-annex h1 {
  font-size: 1em;
}
emu-intro emu-intro emu-intro emu-intro emu-intro h2,
emu-clause emu-clause emu-clause emu-clause emu-clause h2,
emu-annex emu-annex emu-annex emu-annex emu-annex h2 {
  font-size: 0.9em;
}
emu-intro emu-intro emu-intro emu-intro emu-intro emu-intro h1,
emu-clause emu-clause emu-clause emu-clause emu-clause emu-clause h1,
emu-annex emu-annex emu-annex emu-annex emu-annex emu-annex h1 {
  font-size: 0.9em;
}

emu-clause,
emu-intro,
emu-annex {
  display: block;
}

/* Figures and tables */
figure {
  display: block;
  margin: 1em 0 3em 0;
}
figure object {
  display: block;
  margin: 0 auto;
}
figure table.real-table {
  margin: 0 auto;
}
figure figcaption {
  display: block;
  color: #555555;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
}
@media (prefers-color-scheme: dark) {
  figure figcaption {
    color: #aaaaaa;
  }
}

emu-table table {
  margin: 0 auto;
}

emu-table table,
table.real-table {
  border-collapse: collapse;
}

emu-table td,
emu-table th,
table.real-table td,
table.real-table th {
  border: 1px solid var(--text);
  padding: 0.4em;
  vertical-align: baseline;
}
emu-table th,
emu-table thead td,
table.real-table th {
  background-color: #eeeeee;
}
@media (prefers-color-scheme: dark) {
  emu-table th,
  emu-table thead td,
  table.real-table th {
    background-color: #333;
  }
}

/* Note: the left content edges of table.lightweight-table >tbody >tr >td
   and div.display line up. */
table.lightweight-table {
  border-collapse: collapse;
  margin: 0 0 0 1.5em;
}
table.lightweight-table td,
table.lightweight-table th {
  border: none;
  padding: 0 0.5em;
  vertical-align: baseline;
}

/* diff styles */
:root {
  --diff-add: #e0f8e0;
  --diff-add-border: #396;
  --diff-del: #fee;
}
@media (prefers-color-scheme: dark) {
  :root {
    --diff-add: #024402;
    --diff-add-border: #4a7;
    --diff-del: #440d0d;
  }
}

ins {
  background-color: var(--diff-add);
  text-decoration: none;
  border-bottom: 1px solid var(--diff-add-border);
}

del {
  background-color: var(--diff-del);
}

ins.block,
del.block,
emu-production > ins,
emu-production > del,
emu-grammar > ins,
emu-grammar > del {
  display: block;
}
emu-rhs > ins,
emu-rhs > del {
  display: inline;
}

tr.ins > td > ins {
  border-bottom: none;
}

tr.ins > td {
  background-color: var(--diff-add);
}

tr.del > td {
  background-color: var(--diff-del);
}
