:root {
  --sans: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --serif: Merriweather, georgia, serif;
  --mono: Fira Code, SFMono-Regular, Consolas, Roboto Mono, Droid Sans Mono,
    Liberation Mono, Menlo, Courier, monospace;

  --link: #0000aa;
}
body {
  margin: 0;
}
a {
  color: var(--link);
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
html {
  font: 112.5%/1.45em light var(--serif);
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  word-wrap: break-word;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans);
  text-rendering: optimizeLegibility;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: var(--mono);
  padding-left: 0.1em;
  padding-right: 0.1em;
}
pre code {
  background: none;
  line-height: 1.42;
}

h1 .secnum {
  opacity: 0.5;
  font-weight: 300;
}
.secnum:empty {
  display: none;
}
.secnum::after {
  content: ' ';
}
h1 .secnum::after {
  content: ' •';
}

emu-xref[aoid] a,
emu-alg emu-xref[href$='#assert'] a {
  color: #206ca7;
  text-decoration: none;
}

emu-nt a:not(:hover) {
  text-decoration: none;
}
emu-nt a:hover {
  color: var(--link) !important;
}

/* square : characters */
emu-geq {
  font-family: Cambria, Palatino Linotype, Palatino, Liberation Serif, serif;
}

article emu-note > span.note {
  font-family: var(--sans);
  min-width: 70px;
  padding-left: 0.5em;
}
